// Nextflow config for running on the MIT Engaging HPC cluster
params {
    config_profile_description = 'MIT Engaging HPC cluster profile.'
    config_profile_contact     = 'Phil Palmer (@PhilPalmer)'
    config_profile_url         = "https://orcd-docs.mit.edu/"
}

singularity {
    enabled    = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 16,
        time: 12.h
    ]
    executor       = 'slurm'
    clusterOptions = '-p mit_normal'
}

params {
    max_memory = 64.GB
    max_cpus   = 16
    max_time   = 12.h
}
